.row {
	color: white;
	padding-left: 20px;
}
.row_title {
	position: absolute;
	margin: 0px 0px;
}
.row_posters {
	display: flex;
	/* overflow-y: hidden; */
	overflow-x: scroll;
	padding-top: 15px;
	padding-bottom: 50px;
}
.row_posters::-webkit-scrollbar {
	display: none;
}
.row_poster,
.row_poster_first {
	position: relative;
	max-height: 100px;
	object-fit: contain;
	margin-right: 15px;
	/* width: 40%; */
	min-width: 170px;
	z-index: 0;
	transition: transform 200ms, z-index 100ms;
	transition-timing-function: ease-in-out;
	transition-delay: 0ms;
	cursor: pointer;
}
.row_poster:hover {
	transform: scale(1.2) translateY(-10px);
	z-index: 999;
}
.row_poster_first:hover {
	transform: scale(1.2) translateY(-10px) translateX(20px);
	z-index: 999;
}
.row_posterLarge {
	max-height: 250px;
	margin: 0;
	margin-right: 3px;
}
/* .row_posterLarge:hover {
	transform: scale(1.2);
	overflow-wrap: unset;
} */
.row_posterLogo {
	position: relative;
	width: 50px;
	top: 25px;
	left: 5px;
}
.row_posterPic {
	height: 100%;
	border-radius: 3px;
}
